@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Kaushan Script", cursive;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


/* header area css start */
.header-area {
    background: url(images/main-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-overlay {
    background: linear-gradient(#E88A83,#EFD589);
    opacity: 0.9;
    padding-top: 29px;
    padding-bottom: 226px;
}

.mobile-menu-icon {
    display: none;
}

.menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.menu-area ul li {
    display: inline-block;
    margin-right: 52px;
}

.menu-area ul li:last-child {
    margin-right: 0;
}

.menu-area ul li:nth-child(6):hover {
    color: #fff;
    border-bottom: 0;
}

.menu-area ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.menu-area ul li a:hover, #active {
    color: #FCE38A;
    border-bottom: 3px solid #FCE38A;
    padding-bottom: 10px;
}

.hero-details-area {
    margin-top: 170px;
}

.hero-details-area h2 {
    font-size: 72px;
    font-family: "Kaushan Script", cursive;
    color: #fff;
    text-align: center;
    margin: 0;
}

.hero-details-area h1 {
    font-size: 150px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
}

.hero-details-area span {
    height: 3px;
    width: 60px;
    background-color: #fff;
    display: block;
    margin: auto;
}

.hero-details-area a {
    width: 182px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid #fff;
    margin-top: 50px;
}
/* header area css end */


/* about us area css start */
.about-us-area {
    padding-top: 90px;
    padding-bottom: 109px;
}

.about-area-title h5 {
    font-size: 24px;
    text-align: center;
    font-family: "Kaushan Script", cursive;
}

.about-area-title h3 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 40px;
}

.about-area-title span, .amazing-area-title span, .feature-area-title span, .we-do-title span, .meet-team-area-title span, .our-works-title span, .people-say-title span, .blog-area-title span, .map-area-overlay span {
    width: 60px;
    height: 3px;
    background-color: #F38181;
    display: block;
    margin: auto;
}

.about-area-title p, .we-do-title p, .meet-team-area-title p {
    font-size: 15px;
    max-width: 950px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    color: #999999;
}

.single-image {
    position: relative;
    overflow: hidden;
}

.single-img-content {
    position: absolute;
    background: linear-gradient(#E88A83,#EFD589);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -100%;
    left: -100%;
    opacity: 0;
    transition: 1s;
}

.single-image:hover .single-img-content {
    opacity: 0.9;
    top: -3%;
    left: -2%;
}

.about-area-images {
    margin-top: 100px;
}

.single-img-content i {
    color: #fff;
}

.single-img-content p {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}
/* about us area css end */


/* service count area css start */
.service-count-area {
    background-color: #95E1D3;
}

.count-area {
    width: 20%;
    padding: 86px 33px;
    text-align: center;
    border-left: 1px solid #B5EAE0;
}

.br {
    border-right: 1px solid #B5EAE0;
}

.count-area span {
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.count-area p {
    font-size: 14px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
/* service count area css end */


/* Amazing Services area css start */
.amazing-services-area {
    padding-top: 107px;
    padding-bottom: 120px;
}

.amazing-area-title h5, .people-say-title h5, .blog-area-title h6 {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333333;
}

.amazing-area-title h3, .people-say-title h3, .blog-area-title h4 {
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 38px;
    text-transform: uppercase;
}

.amazing-area-body {
    margin-top: 60px;
}

.service-dtls {
    margin-left: 25px;
}

.service-dtls h3 {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.service-dtls p {
    font-size: 15px;
    color: #999999;
}

.amazing-area-body hr {
    margin-top: 45px;
    margin-bottom: 45px;
}
/* Amazing Services area css end */


/* feature area css start */
.feature-area {
    background: url(images/frature-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature-area-overlay {
    background: #ffff;
    opacity: 0.9;
    padding-top: 107px;
}

.feature-area-title h5, .we-do-title h5 {
    font-size: 24px;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    text-align: center;
}

.feature-area-title h3, .we-do-title h3 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.mocup-design {
    margin-top: 45px;
    position: relative;
}

.mobile-desing {
    position: absolute;
    top: 35%;
    left: 60.53%;
}
/* feature area css end */


/* what we do area css start */
.what-we-do-area {
    padding-top: 109px;
    padding-bottom: 120px;
}

.we-do-desc {
    margin-top: 90px;
}

.we-do-img img {
    width: 100%;
}


/* what we do area css end */


/* first testimonial area css start */
.quote-area {
    padding-top: 70px;
    padding-bottom: 65px;
    background-color: #F8F8F8;
}

.quote-img {
    width: calc(100% - 768px);
}

.quote-desc {
    max-width: 768px;
}

.quote-desc p {
    font-size: 24px;
    color: #999999;
    font-style: italic;
    margin-bottom: 27px;
    width: 90%;
}

#quote-owner {
    width: 60px;
    height: 3px;
    background-color: #F38181;
    display: inline-block;
}

.quote-desc span {
    font-size: 24px;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    margin-left: 10px;
}

.owl-prev {
	position: absolute;
	top: 41%;
	left: 0;
	color: #CCC !important;
}

.owl-next {
	position: absolute;
    top: 41%;
	right: 0;
	color: #CCC !important;
}
/* first testimonial area css end */


/* meet our team area css start */
.meet-our-team-area {
    padding-top: 95px;
    padding-bottom: 115px;
}

.meet-team-area-title h5 {
    font-size: 24px;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    text-align: center;
}

.meet-team-area-title h2 {
    font-size: 30px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 40px;
}

.singler-member h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-top: 28px;
    margin-bottom: 15px;
}

.singler-member p {
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.members-area {
    margin-top: 70px;
}

.singler-member {
    position: relative;
    overflow: hidden;
}

.single-box-overlay {
    background: linear-gradient(#E88A83,#EFD589);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
    left: -100%;
    transition: 1s;
    opacity: 0;

}

.singler-member:hover .single-box-overlay {
    top: -4%;
    left: -3%;
    opacity: 0.9;
}

.single-box-overlay ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.single-box-overlay ul li {
    display: inline-block;
    background-color: #FCE38A;
    border-right: 1px solid #F9BD87;
}

.single-box-overlay ul li a {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.single-box-overlay ul li a:hover {
    background-color: #F38181;
}

.single-box-overlay ul li a i {
    font-size: 22px;
    color: #F38181;
}

.single-box-overlay ul li a:hover .single-box-overlay ul li a i {
    color: #fff;
}
/* meet our team area css end */


/* logos area css start */
.logos-area {
    padding: 62px 0;
    background-color: #F8F8F8;
}
/* logos area css end */


/* ours works area css start */
.our-works-area {
    padding-top: 107px;
}

.our-works-title h5 {
    font-size: 24px;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    text-align: center;
}

.our-works-title h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.works-pictures {
    margin-top: 100px;
}

.single-works-img {
    float: left;
    width: 50% !important;
    position: relative;
}

.single-works-img img {
    width: 100%;
}

.single-works-overlay, .right-full-overlay {
    background: linear-gradient(#E88A83,#EFD589);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0;
    transition: 0.8s;
    transform: scale(0);
}

.single-works-img:hover .single-works-overlay {
    opacity: 0.9;
    transform: scale(1);
}

.single-works-overlay i, .right-full-overlay i, .right-half-overlay i {
    color: #fff;
    font-size: 35px;
}

.single-works-overlay h6, .right-full-overlay h6, .right-half-overlay h6 {
    font-size: 14px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 20px;
}

.single-works-overlay span, .right-full-overlay span, .right-half-overlay span {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}

.single-full-img {
    float: left;
    width: 50%;
    position: relative;
}

.single-full-img:hover .right-full-overlay {
    opacity: 0.9;
    transform: scale(1);
}

.single-full-img img {
    width: 100%;
}

.right-half-img {
    float: left;
    width: 50%;
    position: relative;
}

.right-half-img img {
    width: 100%;
}

.right-half-overlay {
    background: linear-gradient(#E88A83,#EFD589);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0;
    transition: 0.8s;
    transform: scale(0);
}

.right-half-img:hover .right-half-overlay {
    opacity: 0.9;
    transform: scale(1);
}
/* ours works area css end */


/* testimonial area css start */
.testimonial-area {
    padding-top: 100px;
    padding-bottom: 130px;
}
/* testimonial area css end */


/* what people say area css start */
.people-say-area {
    background: url(images/people-say-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.people-say-overlay {
    background-color: #fff;
    opacity: 0.8;
    padding-top: 108px;
    padding-bottom: 65px;
}

.people-say-boxs {
    margin-top: 85px;
}

.people-desc {
    padding-left: 30px;
}

.people-desc h3 {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.people-desc h4 {
    font-size: 15px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 20px;
}

.people-desc span {
    width: 60px;
    height: 3px;
    background-color: #F38181;
    display: block;
    margin-bottom: 15px;
}

.people-desc p {
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 68px;
}

.people-img img {
    object-fit: cover;
}
/* what people say area css end */


/* latest blog area css start */
.latest-blog-area {
    padding-top: 108px;
    padding-bottom: 114px;
}

.blog-img img {
    width: 100%;
}

.blog-img {
    position: relative;
}

.post-date {
    width: 58px;
    height: 68px;
    background-color: #95E1D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: -10px;
}

.post-date h3 {
    font-size: 30px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.post-date span {
    font-size: 15px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.blog-desc a {
    text-decoration: none;
}

.blog-desc h3 {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 20px 0;
    text-transform: uppercase;
}

.blog-desc p {
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.blog-desc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-desc ul li {
    display: inline-block;
    margin-right: 19px;
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;

}

.blog-desc ul li:last-child {
    margin-right: 0;
}

.blog-desc ul li i {
    margin-right: 9px;
    color: #95E1D3;
    /* font-size: 22px; */
}

.blog-post-area {
    margin-top: 48px;
}
/* latest blog area css end */


/* map area css start */
.map-area {
    background: url(images/open-map.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.map-area-overlay {
    background: #ffffff;
    opacity: 0.8;
    padding: 55px 0;
}

.map-area-overlay i {
    font-size: 40px;
    color: #F38181;
}

.map-area-overlay h3 {
    font-size: 24px;
    color: #F38181;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 22px;
}

.map-area-overlay a {
    text-decoration: none;
}
/* map area css end */


/* footer area css start */
.footer-area {
    padding-top: 70px;
    padding-bottom: 25px;
    background-color: #F8F8F8;
}

.footer-part-one p {
    font-size: 15px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 42px;
    margin-bottom: 47px;
}

.footer-part-one span {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.footer-part-one span h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: inline;
}

.social-icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icon ul li {
    display: inline-block;
}

.social-icon ul li:first-child {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.social-icon ul li a {
    margin: 0 10px;
}

.social-icon ul li a i {
    color: #95E1D3;
}

form input[type=email] {
    font-size: 15px;
    color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    padding: 4px 8px ;
    border: 1px solid #E7E7E7;
    max-width: 228px;
}

form input[type=submit] {
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #95E1D3;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    max-width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

form {
    font-size: 0;
    margin-top: 36px;
}

form input[type=email]:focus {
    outline: none;
}

.footer-part-two h4 {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-single-blog {
    margin-bottom: 29px;
}

.footer-blog-img {
    width: 40%;
}

.footer-blog-img img {
    width: 100%;
}

.footer-blog-desc {
    padding-left: 19px;
}

.footer-blog-desc a {
    text-decoration: none;
}

.footer-blog-desc a h6 {
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.footer-blog-desc span {
    font-size: 13px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.footer-part-three h5 {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.part-three-gallery {
    margin-top: 40px;
}

.single-img {
    width: 32%;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}

.single-img img {
    width: 100%;
}

.footer-part-three a {
    font-size: 13px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 22px;
    display: block;
    text-decoration: none;
}

.footer-area hr {
    margin-top: 50px;
    margin-bottom: 25px;
}

.footer-area p {
    text-align: center;
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.footer-area p span {
    color: #F38181;
}

#full-year {
    color: #333333;
}
/* footer area css end */